
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
<h3 class="h3 mb-3 fw-normal">Sign up</h3>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field form-floating">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "User Name" %>
  </div>

  <div class="field form-floating">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field form-floating">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter minimum 6 digit password" %>
  </div>

  <div class="field form-floating">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-enter the password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
