<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="navbar">
<img class="userImg" src=<%= @user.photo %> alt="User Image">
<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary reload" %>
</div>

<% if user_signed_in? %>
  <div class="welcome-section">
    <p class="welcome-header">Welcome <span class="user-name"><%= current_user.name %></span></p>
  </div>
<% end %>

<div class="user-list d-flex flex-wrap">
  <% @all_users.each do |user| %>
    <div class="user-card m-2">
      <%= link_to user_id_path(user.id) do %>
        <%= render partial: 'shared/user-card', locals: { user: user } %>
      <% end %>
    </div>
  <% end %>
</div>