<div class="p-container">
  <li class="post">
  <h3 class="heading"><%= @post.title %></h3>
  <p class="post-item__interactions">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  <p class="post-item__detail"><%= @post.text %></p>
</li>
  <%= link_to 'Comment ', "#{request.url}/comments/new", class: 'comment-btn' %>
  <%= link_to 'Like ', "#{request.url}/likes/new", class: 'comment-btn' %>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete', post_id_path(@user.id, @post.id), :method => :delete, class: 'btn btn-outline-danger' %>
  <% end %>
</div>
